<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-darker" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/Safran.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
     

    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text text-white">Dashboard </span>
            </a>
          </li>
          <li class="nav-item">
           <a class="nav-link {% if segment == 'technology' %} active {% endif %}" href="{% url 'technology_list' %}">
            <i class="ni ni-planet text-orange"></i>
            <span class="nav-link-text text-white">Technology</span>
          </a>
          </li> 
          <!-- {% url 'mindmap' as mindmap_url %} -->
          <li class="nav-item">
            <a class="nav-link{% if request.path == mindmap_url %} active{% endif %}"
              href="{{ mindmap_url }}">
              <i class="ni ni-collection text-primary"></i>
              <span class="nav-link-text text-white">Mind Map</span>
            </a>
          </li>
    </div>
  </div>
</nav>